[Unit]
Description=sipauthserve
Wants=network.target
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/OpenBTS/sipauthserve

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
